IO_LOC "clock" 35;
IO_LOC "reset" 14;
IO_LOC "io_button" 15;
IO_LOC "io_led_green" 16;
IO_LOC "io_led_blue" 17;
IO_LOC "io_led_red" 18;
IO_LOC "io_lcd_clock" 11;
IO_LOC "io_lcd_hsync" 10;
IO_LOC "io_lcd_vsync" 46;
IO_LOC "io_lcd_de" 5;
IO_LOC "io_lcd_red[0]" 27;
IO_LOC "io_lcd_red[1]" 28;
IO_LOC "io_lcd_red[2]" 29;
IO_LOC "io_lcd_red[3]" 30;
IO_LOC "io_lcd_red[4]" 31;
IO_LOC "io_lcd_green[0]" 32;
IO_LOC "io_lcd_green[1]" 33;
IO_LOC "io_lcd_green[2]" 34;
IO_LOC "io_lcd_green[3]" 38;
IO_LOC "io_lcd_green[4]" 39;
IO_LOC "io_lcd_green[5]" 40;
IO_LOC "io_lcd_blue[0]" 41;
IO_LOC "io_lcd_blue[1]" 42;
IO_LOC "io_lcd_blue[2]" 43;
IO_LOC "io_lcd_blue[3]" 44;
IO_LOC "io_lcd_blue[4]" 45;